@use '../common/_partials';

@property --R-box-border-color {
  syntax: '<color>';
  inherits: true;
  initial-value: currentColor;
}

@property --R-box-border-width {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --R-box-border-dash {
  syntax: '<length>+ | none';
  inherits: true;
  initial-value: none;
}

@mixin box() {
  --R-box-border-color: var(--r-box-border-color, var(--r-element-color));
  --R-box-border-width: var(--r-box-border-width, var(--r-common-stroke-width));
  --R-box-border-dash: var(--r-box-border-dash, none);
  &::before {
    border-top-style: solid;
    @include partials.transition-runner((
      --R-box-border-width: border-top-width,
      --R-box-border-dash: border-spacing,
    ));
  }
  &.is-filled {
    text-shadow: var(--r-common-stroke-text-shadow);
  }
  &.primary {
    --r-element-color: var(--r-common-primary-color);
  }
  &.info {
    --r-element-color: var(--r-common-info-color);
  }
  &.success {
    --r-element-color: var(--r-common-success-color);
  }
  &.warning {
    --r-element-color: var(--r-common-warning-color);
  }
  &.error {
    --r-element-color: var(--r-common-error-color);
  }
  &.comment {
    --r-element-color: var(--r-common-comment-color);
  }
  &.small {
    --r-element-font-size: var(--r-common-small-font-size);
  }
  &.large {
    --r-element-font-size: var(--r-common-large-font-size);
  }
}
