@use '../common/_partials';

@property --R-box-border-color {
  syntax: '<color>';
  inherits: true;
  initial-value: currentColor;
}

@property --R-box-border-width {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --R-box-border-dash {
  syntax: '<length>+ | none';
  inherits: true;
  initial-value: none;
}

@mixin box() {
  --R-box-border-color: var(--r-box-border-color, var(--r-element-color));
  --R-box-fill-color: var(--r-box-fill-color, var(--R-box-border-color));
  --R-box-border-width: var(--r-box-border-width, var(--r-common-stroke-width));
  --R-box-border-dash: var(--r-box-border-dash, none);
  @include partials.colored-element();
  @include partials.sized-element();
  &::before {
    border-top-style: solid;
    @include partials.transition-runner((
      --R-box-border-width: border-top-width,
      --R-box-border-dash: border-spacing,
    ));
  }
  &.is-filled {
    text-shadow: var(--r-common-stroke-text-shadow);
  }
}
