@use 'sass:color';

@font-face {
  font-family: 'Syne Mono';
  src: url('./SyneMono.woff2') format('woff2');
}

:root {
  --vp-font-family-base: var(--r-common-font-family);
  --vp-font-family-mono: 'Syne Mono';
  --vp-c-bg: var(--r-common-background-color);
  --vp-c-bg-alt: #{color.scale(#ffffff, $lightness: -3%)};
  --vp-c-text-1: var(--r-common-text-color);
  --vp-c-brand: var(--r-common-primary-color);
  --vp-c-brand-light: #{color.scale(#0247fe, $lightness: 25%)};
  --vp-c-brand-lighter: #{color.scale(#0247fe, $lightness: 50%)};
  --vp-c-brand-dark: #{color.scale(#0247fe, $lightness: -25%)};
  --vp-c-brand-darker: #{color.scale(#0247fe, $lightness: -50%)};
  --vp-local-search-highlight-bg: var(--r-common-primary-color);
  --vp-local-search-highlight-text: var(--r-common-background-color);
}
:root.dark {
  --vp-c-bg-alt: #{color.scale(#31343a, $lightness: -25%)};
  --vp-c-brand-light: #{color.scale(#94c0cc, $lightness: 25%)};
  --vp-c-brand-lighter: #{color.scale(#94c0cc, $lightness: 50%)};
  --vp-c-brand-dark: #{color.scale(#94c0cc, $lightness: -25%)};
  --vp-c-brand-darker: #{color.scale(#94c0cc, $lightness: -50%)};
}

.VPNav .title {
  color: var(--r-common-primary-color);
}

.vp-doc .r-table {
  display: revert;
  tr {
    border-top: revert;
  }
  tr:nth-child(2n) {
    background: revert;
  }
  th, td {
    border: revert;
    font-size: inherit;
  }
  th {
    color: revert;
    background: revert;
  }
}
.vp-doc .r-alert {
  margin: 16px 0;
}
.vp-doc .r-divider {
  border-color: var(--r-divider-color);
}
.vp-doc .r-list__item {
  margin-top: revert;
}
.vp-doc .r-tab-anchor + .r-tab-anchor {
  margin-top: revert;
}
