:root {
  --vp-font-family-base: 'CabinSketch';
  --vp-c-brand: var(--r-common-primary-color);
  --vp-code-font-size: 1em;
}

.vp-doc table {
  display: revert;
}
.vp-doc tr {
  border-top: revert;
}
.vp-doc tr:nth-child(2n) {
  background: revert;
}
.vp-doc th, .vp-doc td {
  border: revert;
}
.vp-doc th {
  color: revert;
  background: revert;
}
