@use 'sass:color';

:root {
  --vp-font-family-base: var(--r-common-font-family);
  --vp-c-bg: var(--r-common-background-color);
  --vp-c-bg-soft: var(--vp-c-bg-alt);
  --vp-c-text-1: var(--r-common-text-color);
  --vp-c-brand-1: var(--r-common-primary-color);
  --vp-c-brand-2: #{color.scale(#4078f2, $lightness: 25%)};
  --vp-c-brand-3: #{color.scale(#4078f2, $lightness: 50%)};
  --vp-local-search-highlight-bg: var(--r-common-primary-color);
  --vp-local-search-highlight-text: var(--r-common-background-color);

  --vp-c-bg-alt: #{color.scale(#fafafa, $lightness: -3%)};
  --vp-c-divider: #383a4220;
}
:root.dark {
  --vp-c-bg-alt: #{color.scale(#282c34, $lightness: -15%)};
  --vp-c-divider: #abb2bf40;
  --vp-c-brand-2: #{color.scale(#61aff0, $lightness: 25%)};
  --vp-c-brand-3: #{color.scale(#61aff0, $lightness: 50%)};
}

.vp-doc .r-table {
  display: revert;
  tr {
    border-top: revert;
    background-color: transparent;
  }
  tr:nth-child(2n) {
    background: revert;
  }
  th, td {
    border: revert;
    font-size: revert;
    p {
      margin: 0;
    }
  }
  th {
    color: revert;
    background: revert;
  }
}
.vp-doc .r-card:not(.r-dialog__card, .r-popover__content, .r-carousel-item > .r-card) {
  margin: 16px 0;
  p {
    margin: 0;
  }
}
.vp-doc .r-list__item {
  margin-top: revert;
}
.vp-doc .r-tab-anchor + .r-tab-anchor {
  margin-top: revert;
}
.vp-doc a:where([class^='r-'], [class*=' r-']) {
  color: var(--r-element-color);
  &:hover {
    color: var(--r-element-color);
  }
}
