@use 'sass:list';
@use 'sass:math';
@use 'sass:string';

@keyframes r-loading-spinner {
  to {
    transform: rotate(1rad);
  }
}

@mixin ghost() {
  content: '';
  position: absolute;
  box-sizing: border-box;
  block-size: 0;
  inline-size: 0;
  visibility: hidden;
}

@mixin transition-runner($properties) {
  @include ghost();
  $transition: ();
  @each $property, $proxy in $properties {
    #{$proxy}: var(#{$property});
    // stylelint-disable-next-line scss/no-duplicate-dollar-variables
    $transition: list.append($transition, #{string.unquote($proxy)} 1ms, $separator: comma);
  }
  // stylelint-disable-next-line order/order
  transition: $transition !important;
}

@mixin loading-spinner() {
  animation: r-loading-spinner 1s infinite steps(4);
}

@function stroke($color, $size: 1px) {
  $corner: math.div(math.$pi, 8);
  $shadows: ();
  @for $i from 0 to 16 {
    // stylelint-disable-next-line scss/no-duplicate-dollar-variables
    $shadows: list.append($shadows, ($size * math.cos($corner * $i)) ($size * math.sin($corner * $i)) 0 $color, $separator: comma);
  }
  @return $shadows;
}

@mixin colored-element() {
  &.primary {
    --r-element-color: var(--r-common-primary-color);
  }
  &.info {
    --r-element-color: var(--r-common-info-color);
  }
  &.success {
    --r-element-color: var(--r-common-success-color);
  }
  &.warning {
    --r-element-color: var(--r-common-warning-color);
  }
  &.error {
    --r-element-color: var(--r-common-error-color);
  }
  &.comment {
    --r-element-color: var(--r-common-comment-color);
  }
  &.neutral {
    --r-element-color: var(--r-common-color);
  }
}

@mixin sized-element() {
  &.small {
    --r-element-font-size: var(--r-common-small-font-size);
  }
  &.large {
    --r-element-font-size: var(--r-common-large-font-size);
  }
  &.medium {
    --r-element-font-size: var(--r-common-font-size);
  }
}
