@use 'sass:list';
@use 'sass:math';

@keyframes r-loading-spinner {
  to {
    transform: rotate(1rad);
  }
}

@mixin ghost() {
  content: '';
  position: absolute;
  box-sizing: border-box;
  block-size: 0;
  inline-size: 0;
  visibility: hidden;
}

@mixin loading-spinner() {
  animation: r-loading-spinner 1s infinite steps(4);
}

@mixin stroke($color, $size: 1px) {
  $corner: math.div(math.$pi, 8);
  $shadows: ();
  @for $i from 0 to 16 {
    /* stylelint-disable-next-line scss/no-duplicate-dollar-variables */
    $shadows: list.append($shadows, ($size * math.cos($corner * $i)) ($size * math.sin($corner * $i)) 0 $color, $separator: comma);
  }
  /* stylelint-disable-next-line order/order */
  text-shadow: $shadows;
}
