@font-face {
  font-family: 'CabinSketch';
  font-weight: normal;
  src: url('./fonts/CabinSketch.woff2') format('woff2');
}

@font-face {
  font-family: 'CabinSketch';
  font-weight: bold;
  src: url('./fonts/CabinSketch-Bold.woff2') format('woff2');
}

:root {
  --r-common-font-family: 'CabinSketch';
  --r-common-font-size: 14px;
  --r-common-line-height: calc(var(--r-common-font-size) + 8px);
  --r-common-box-padding: 8px 20px;

  --r-common-fg-color: #44413c;
  --r-common-bg-color: #ffffff;
  --r-common-primary-color: #0247fe;
  --r-common-info-color: #2b4057;
  --r-common-success-color: #11887b;
  --r-common-warning-color: #9d6016;
  --r-common-error-color: #ac3235;
}

:root.dark {
  --r-common-fg-color: #f4f4f0;
  --r-common-bg-color: #31343a;
  --r-common-primary-color: #94c0cc;
  --r-common-info-color: #a6aebb;
  --r-common-success-color: #bcdf8a;
  --r-common-warning-color: #dfc281;
  --r-common-error-color: #ed7777;
}

[class^='r-'], [class*=' r-'] {
  font-family: var(--r-common-font-family);
}
